*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 1000px;
    margin: auto;
}
.header{
    margin: auto;
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    padding: 15px 0 30px 0;
}
.main-content{
    display: flex;
    flex-wrap: wrap;
}
.main-content-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 15px;
    column-gap: 15px;
}

.footer{
    position: absolute;
    bottom: 0;
    transform:translate(-50%,-50%);
    left: 50%;
    font-size: 14px;
    text-transform: uppercase;
    color: #CCCCCC;
    width: 100%;
    text-align: center;
    border-top: 1px solid #CCCCCC;
    padding-top: 10px;
}